{% extends 'reservas/base.html' %} {% block content %} {% load static %}

<div class="mb-4 mt-4">
  <form action="{% url 'buscar' %}" method="GET" class="row g-3 align-items-end justify-content-center">
    
    <div class="col-md-3 col-lg-2">
      <label class="form-label fw-bold small label-flotante">FECHA LLEGADA</label>
      <div class="input-group shadow-sm">
        <span class="input-group-text input-flotante" style="cursor: pointer;" onclick="document.getElementById('fecha_llegada').showPicker();">
          <i class="fa-regular fa-calendar-days" style="color: #0e363d;"></i>
        </span>
        <input type="date" name="llegada" id="fecha_llegada" class="form-control input-flotante" style="cursor: pointer;" onclick="this.showPicker();" required />
      </div>
    </div>

    <div class="col-md-3 col-lg-2">
      <label class="form-label fw-bold small label-flotante">FECHA SALIDA</label>
      <div class="input-group shadow-sm">
        <span class="input-group-text input-flotante" style="cursor: pointer;" onclick="document.getElementById('fecha_salida').showPicker();">
          <i class="fa-regular fa-calendar-days" style="color: #0e363d;"></i>
        </span>
        <input type="date" name="salida" id="fecha_salida" class="form-control input-flotante" style="cursor: pointer;" onclick="this.showPicker();" required />
      </div>
    </div>

    <div class="col-md-2 col-lg-2">
      <label class="form-label fw-bold small label-flotante">PERSONAS</label>
      <div class="input-group shadow-sm">
        <span class="input-group-text input-flotante" onclick="document.getElementById('personas').focus();" style="cursor: pointer;">
          <i class="fa-solid fa-user-group" style="color: #0e363d;"></i>
        </span>
        <input type="number" name="personas" id="personas" class="form-control input-flotante" min="1" value="1" required />
      </div>
    </div>

    <div class="col-md-2 col-lg-2">
      <label class="form-label fw-bold small label-flotante">HABITACIONES</label>
      <div class="input-group shadow-sm">
        <span class="input-group-text input-flotante" onclick="document.getElementById('habitaciones').focus();" style="cursor: pointer;">
          <i class="fa-solid fa-bed" style="color: #0e363d;"></i>
        </span>
        <input type="number" name="habitaciones" id="habitaciones" class="form-control input-flotante" min="1" value="1" required />
      </div>
    </div>

    <div class="col-md-2 col-lg-2 d-grid">
      <button type="submit" class="btn btn-azul shadow-sm">BUSCAR</button>
    </div>

  </form>
</div>

<div class="text-center mb-4">
  <h1 class="fw-bold titulo">Hotel nombre</h1>
</div>
<p class="text-center hook">Reserva con nosotros</p>

{% endblock %}
